/****************************
GENERAL
*****************************/

*{
	box-sizing:border-box;
}

body{
  color:#292927;
  font-family: "Lato", Arial, sans-serif;
  line-height: 1.25;
  background-color: #ee8c3a;
}

img{
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a{
	text-decoration: none;
  color:#333;
}

h1{
	background-color: #393d40;
	text-align: center;
	color:#fff;
	padding: .275em;
	margin-top: 0;
}
/****************************
HEADER
****************************/

nav{
  text-align: center;
}

nav ul{
  list-style: none;
  margin-bottom: 0;
  font-family: 'Roboto';
  padding: 0 1.5em;
}

nav li{
  padding:.5em;
  font-weight: 800;
  letter-spacing: 2px;
}

nav a{
  text-decoration: none;
  font-weight: 800;
}

nav a:link {
  color:#ccc;
  text-decoration: none;
}

nav a:visited{
  color:#000;
}

nav a:hover{
  color: yellow;
}

.progress_bar{
  text-align: center;
  font-size: 1.1em;
}

/*****************************
HOME PAGE
*****************************/
.row{
	border: 3px solid #fff;
  margin: 0em .5em 0em .5em;
}

.col-1 p {
	padding: 1em 0.275em;
  background-color: #393d40;
  margin: 1em;
  color: #fff;
  text-align: center;
  border: 2px solid #fff;
}

.col-2 {
	padding: 1em;
  background-color: #fff;
  margin: 1em;
  color: #393d40;
  border: 2px solid #393d40;
}

.section-title{
	background-color: #eee;
  text-align: center;
  padding: 1em;
  margin-top: 0;
}

.col-3{
	background-color: #fff;
  padding: 1em;
  margin: 1em;
  border:2px dashed #393d40;
}

/****************************
OTHER PAGES
****************************/
.fade{
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.fade:hover{
  opacity:0.5;
}

.main_section{
	background-color: #fff;
  margin: 1em auto;
  width: 95%;
 
}

.main_section p{
	padding: .875em;
	border: dotted;
	margin: .5em;
}

/****************************
INDUSTRY
****************************/
a:link {
	color: #ee3a9c;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #ee8c3a;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
	color: #ee3a9c;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: #3a9cee;
  background-color: transparent;
  text-decoration: underline;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clouds {
  border-style:hidden;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/****************************
IONIC
****************************/

.img-container {
  float: left;
  width: 100%;
  padding: 5px;
}

.img-container img{
  border-radius: 44px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/****************************
FOOTER
****************************/
footer{
	background-color: #393d40;
	padding: 0.275em;
  color: #fff;
  text-align: center;
}

.fa-arrow-circle-up{
	color:#fff;
}

/****************************
MEDIA QUERIES
****************************/
/*320px = 20em
375px = 23.438em
425px = 26.563em
768px = 48.000em
1024px = 64em
1440px = 90em;
2560px = 160em;*/

@media screen and (min-width:48em) {

.row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"]{
	float:left;
	padding:1em;
	margin: 1em;
}

.col-1 {
	width: 20%;
	height: 12em;
	background-color: #393d40;
}

.col-1 p{
	margin:0;
}

.col-2{
	width: 47%;
	background-color: #fff;
	border: 2px solid #393d40;
}

.col-3{
	width: 20%;
	background-color: #fff;
	overflow:hidden;
}

.col-3 img{
	margin-top: 1em;
	margin-bottom: 1em;
}

.img-container{
  width: 50%;
}
}


@media screen and (min-width:64em) {
nav li{
	display: inline-block;
}

.row{
  max-width: 980px;
  margin: 0 auto;
}

.col-1, .col-3{
	height: 16em;
}

.col-2{
	width: 50%;
}

.img-container{
  width: 33.33%;
}

.main_section{
  width: 90%;
}

#bottom-fixed{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

}

@media screen and (min-width: 90em){

.row{
  max-width: 1380px;
  margin: 0 auto;
}

.clouds{
  margin-bottom: 10em;
}

#bottom-fixed{
  position: fixed;
  margin-top: 10em;
}
}

@media screen and (min-width:91em) {
/*1440px*/
.col-2{
	width: 53%;
}

.col-3 img{
  min-width: 150px;
  margin-top: 0em;
}

}

@media screen and (min-width:160em){
/*2560px*/
.wrapper{
	width:86%;
	margin: 0 auto;
}

.row{
	border: 7px solid #fff;
  max-width: 100%;
  margin: 0 auto;
}

.col-1, .col-3{
	height: 23em;
}

.col-2{
	width: 55%;
	height: 23em;
}

.col-3 img{
	margin-top: 4.5em;
}

.main_section{
  width: 100%;
}

.clouds {
  border-style:hidden;
  margin-top: 10em;
}

}




	



